/* Override here any style definide by web-app-theme */

body.login {
  color: #000;
  background-color: #e5e5e5;
}

/*body.login a:hover {
  color: #03c;
  background: none;
  text-decoration: underline;
}
*/
/*body.login div#LogoBox {
  margin-top: 50px;
}
*/
/*body.login div.login_dialog {
  zoom: 100%;
}
*/
body.login div.login {
  padding: 25px 28px;
  background: #fff;
  text-align: left;
  width: 300px;
  margin: 55px auto;
  font-family: lucida grande, verdana;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px #444444;
  -webkit-box-shadow: 0 0 6px #444444;
  box-shadow: 0 0 6px #999;
  border: 1px solid #ccc;
}

.block {
  /*-moz-box-shadow: 0 0 10px #444444;
  -webkit-box-shadow: 0 0 10px #444444;
  box-shadow: 0 0 30px #999;*/
}


/*body:first-of-type.login div.login {border: none;} /* remove border for browsers that support box-shadow */*/


body.login div.login p {
  margin: 0 0 15px 0;
  padding: 0;
}

body.login div.login div.flash {
  padding: 7px 5px;
  font-size: 12px;
  margin: 15px 0;
}

body.login div.login p a {
}

body.login div.login div.error {
  border-top: 1px solid #900;
  border-bottom: 1px solid #900;
  color: #900;
  background-color: #f5e6e6;
}

body.login div.login div.confirm {
  border-top: 1px solid #393;
  border-bottom: 1px solid #393;
  color: #393;
  background-color: #e6f5ea;
}

body.login div.login h1 {
  color: #000;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0;
}


body.login div.login h2 {
  color: #000;
  font-size: 14px;
  margin: 0 0 2px 0;
  padding: 0;
}

body.login div.login input {
  width: 275px;
  font-size: 14px;
  padding: 3px;
  margin-bottom: 10px;
}

body.login div.login label {
  margin-bottom: 10px;
}

body.login div.login label input {
  margin-bottom: 0;
}

body.login div.login input.auto {
  width: auto;
}

body.login div.login input.button {
  width: auto;
  font-size: 14px;
  padding: 3px;
  margin: 10px 0 0 0;
}

body.login div.login div.extras {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-top: 15px;
}

body.login div.login div.extras ul {
  margin: 0;
  padding: 0;
}

body.login div.login div.extras ul li {
  list-style: none;
  font-size: 12px;
  padding-bottom: 3px;
}

.block {
  background-color: #FFFFFF;
}

h1 { margin: 10px 0 0 10px}
