<% content_for :sidebar do %>
  <h3>Action Menu</h3>
    <ul class="navigation">
        <li><%= link_to "New Order - Walk-In Customer", walkin_orders_path %></li>
        <li><%= link_to "New Order - Registered Customer", new_order_path %></li>
    </ul>
<% end %>
<br>

<% if !@orders.empty? %>
  <%= table_for (@orders) do |t|
    t.data
    end %>
<% end -%>